body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: darkslategrey;
  text-align: center;
  color: aliceblue;
  text-shadow: 1em .5em .5em rgba(0, 0, 0, 0.784);
}

.heading {
  color: rgb(255, 255, 255);
  font-size: 4em;

}

.App-container {
  display:inline-block;
  background: rgb(144, 192, 183);
  padding: 30px;
  border-radius: .5em;
  box-shadow: 1em .5em .5em rgba(0, 0, 0, 0.515);;
}

.App-list {
  outline:auto rgb(62, 62, 245);
  margin: 1em;
  background: #103c49;
  color: rgb(255, 255, 249);
  border-radius: .5em;
  padding: .5em;
  max-width: 400px;
  font-size: 1.2em;
  box-shadow: .5em .5em .5em rgba(0, 0, 0, 0.515);;

}
.App-input {
  border-radius: .5em;
  font-size: 1.5em;
  text-align: center;
  background-color: rgb(144, 255, 40);
  color: rgb(12, 8, 8);
  margin: 1em;
  box-shadow: .5em .5em .5em rgba(0, 0, 0, 0.515);;

}

.App {
  text-align: center;
  top: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1e53bc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
